
<section class="s1">
  <h1>Selena</h1>
</section>
<div class="bar">
  

  <form action="" id="filter">
    <input #box (keyup)="0" type="text" class="barinput"  placeholder="search...">
  </form>
</div>
<section class="s2">
  <div *ngFor="let item of collection | filter:box.value | orderBy:'name'">
    <a routerLink="../chatpage"
    (click)="getName(item.name)"
     href=""> <div class="convos">
      <div class="holder-img">
<!-- this is the default image for now, later on i could a different image to each user to the database and display it -->
        <img class="img" src="../../assets/images/Default-Profile.png.crdownload" alt="">
    </div>
      
       <router-outlet></router-outlet>
      <p >{{item.name}}</p>
      
    </div></a>
    <hr class="line">
  </div>

</section> <!--  -->