.s1{
    background-image: url(../../assets/images/nepal-2184940_1920.jpg);
   
    position: relative;
    height: 42vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0;
    background-size: cover;
    
}
.s1:after{
    background-color: rgb(84 84 165 / 20%);
    background-image: linear-gradient(to bottom, rgba(112, 22, 230, 0.2), rgba(8, 156, 255, 0.2));
    position: absolute;
    height: 42vh;
    background-attachment: fixed;
    content: "";
    padding-right:100%;
}
.s1 h1{
    color:white;
    position: absolute;;
    z-index:1;
    font-weight: lighter;
    letter-spacing: 1.3px;
    margin: 27vh 0 0 4vh;
    font-size:28px;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
}
.s2{
    background-color: #f2fbff;
    padding:5vh 0 0 0;
}
.convos p{
 margin:0;
 padding:0;
 font-family: 'Raleway', sans-serif;
 display: inline-block;
 margin-left: 5%;
 vertical-align: middle;
}
.convos{
    padding: 5vh 4vh;
    color: #3e5f90de;
}
.line{
    width:88%;
    border: 0; border-top: 1px solid #9dbdeea2;
   margin: 0 auto;
}
.bar{
    position: absolute;
    background: #f9fbfd;
    width: 70%;
    margin: auto;
    margin: 0 15% auto;
    display: block;
    left: 0;
    top: 37vh;
    padding: padding;
    padding: 15px 5%;
    box-shadow: 0px 4px 20px 0px #7d8eca;
    border-radius: 3px;
}
.bar input{
    vertical-align: top;
    background: #f2fbff;
    height: 24px;
    border: none!important;
    color:#3e5f90de;
    width: 100%;
}
.barinput:focus{
    border-color:none!important;
    box-shadow:none!important;
}
.bar img{
    vertical-align: top;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3e5f90de;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3e5f90de;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #3e5f90de;
  }
  .img{
    max-width:100%;
    border-radius: 50%;
}
.holder-img{
    border-radius: 50%;
    width: 10%;
    display: inline-block;
    
}