
<div class="container s">
    <div class="msg-header">
        <!-- <div class="header-img">
            <img src="./images/noimg.png" alt="">
        </div> -->
        <div class="active">
            <h3 >{{passName}}</h3>
            <!-- <h6>offline</h6> -->
        </div>
        <hr class="line">
    </div>
    <div class="chat-page">
        <div class="msg-inbox">
          
                    <div class="empty"></div>
                    <div   *ngFor="let item of collection2 | filterMsg:passName"  class="received-chats">
                        <div class="received-msg">
                            <div class="received-msg-inbox">
                                <p #sent>{{item.sentMessage}}</p>
                            </div>
                        </div>
                    </div>
  
                    
                    <div  *ngFor="let item of collection | filterMsg:passName" class="outgoing-chats">
                        <div class="outgoing-chats-msg">
                            
                                <p >{{item.message}}</p>
                                
                            
                        </div>
                    </div>
                    <div  *ngFor="let message of messages " class="outgoing-chats">
                        <div  class="outgoing-chats-msg">
                           
                                <p >{{message}}</p>
                              
                        </div>
                    </div>
                
  
  
  
  
                    
  
  
                
                    <div class="empty"></div>
            <!-- (keyup)="getVal($event.target.value)" -->
        </div> 
        <div class="msg-bottom">
            <!-- <div class="input-group">
                <input type="text" class="form-control"  #box  placeholder="Write a message...">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <a  (click)="getVal(box.value)"><i class="fa fa-paper-plane"></i></a>
                    </span>
                </div>
            </div> -->
            <form [formGroup]="addMessage" (ngSubmit)="chatting()">
            <div class="input-group">
                <input type="text"  #box   formControlName="message" class="form-control" placeholder="Write a message...">
                <!-- <input #h3 type="text" formControlName="name" value="Sel" > -->
                <!-- here is where I left off, i have to store the passName in the bd.json -->
                <div class="input-group-append">
                    <span class="input-group-text">
                        <button style="border:none; background-color: transparent;" type="submit" ><a  (click)="getVal(box.value)">
                            <i class="fa fa-paper-plane"></i></a></button>
                    </span>
                </div>
            </div>
            </form>
        </div>
    </div>
  </div>
