body, html{
    margin:0;
    padding:0;
}

.container{
    max-width:500!important;
    margin:auto!;
    font-family: sans-serif;
    letter-spacing:0.5px;
    height:100vh;
    background-color:white;
}
img{
    max-width:100%;
    border-radius: 50%;
}
.msg-header{
    border:1px solid #ccc;
    width:100%;
    height:10% !important;
    border: none;
    display:inline-block;
    background-color: transparent;
    position:fixed;
    left:0;
    font-family: 'Raleway', sans-serif;
    
}
.header-img{
    border-radius: 50%;
    width:40px;
    margin-left:5%;
    margin-top:3%;
    float:left;
    margin-bottom:15px;
}
.active{
    width:100%;
    text-align: center;
    margin-top:4%;
    

}
.line{
    width:88%;
    border: 0; border-top: 1px solid #9dbdeea2;
   margin: 0 auto;
}
.s{
    background-color: #f2f9ff;
}
.active h3{
    font-size:25px;
    margin: 13px 0;
    color:#3e5f90de;
}
.active h6{
    font-size:10px;
    margin-left:20px;
    line-height:2px;
    color:#3e5f90de;
}
.chat-page{
    padding-top: 50px;
}
.msg-inbox{
    border:10x solid#ccc;
    overflow: hidden;
    padding-bottom:30px;
}

.chats{
    padding: 30px 10px 0 10px;
}
.msg-page{
    height:516px;
    overflow-y: auto;
    
}
.received-msg{
    display:inline-block;
    padding: 0 0 0 10px;
    vertical-align:top;
    width:92%;
    font-family: 'Raleway', sans-serif;
    

}
.received-msg-inbox{
    width:57%;
}
.received-msg-inbox p{
    background: white none repeat scroll 0 0;
    border-radius:15px  15px 15px 3px;
    color:#3e5f90de;
    font-size:14px;
    margin:0;
    padding:5px 10px 5px 12px;
    width:100%;
}
.outgoing-chats{
    overflow: hidden;
    margin: 26px 10px;
    font-family: 'Raleway', sans-serif;
    filter: drop-shadow(0px 4px 6px #919fcf);

}
.received-chats{
    filter: drop-shadow(0px 4px 6px #919fcf);
}
.outgoing-chats-msg p{
    background: #81a1fb none repeat scroll 0 0;
    color:#fff;
    border-radius:15px 15px 3px 15px;
    font-size:14px;
    margin:0;
    padding:5px 10px 5px 12px;
    width:100%;
}
.outgoing-chats-msg{
    float:left;
    width:46%;
    margin-left:54%;
    

}
.msg-bottom{
    position: fixed;
    background-color: transparent;
    bottom: 0;
    width: 100%;
    left: 0;
}
.input-group{
    
    background-color: #fff;
}

.form-control{
    border:none !important;
    font-family: 'Raleway', sans-serif;
    padding: 20px 15px;
}
.input-group-text{
    background:transparent!important;
    border:none!important;
}
.input-group .fa{
    color:white;
    float:right;

}
.form-control:focus{
    border-color:none!important;
    box-shadow:none!important;
}
.empty{
    width:100%;
    margin:13%;
}
.input-group-append{
    background-color: #81a1fb;
}