ul{
    position: absolute;
    color: white;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    z-index:1;
    /* text-align: center; */
}
/* ul li{
    display:inline-block;
    width:49%;
    
} */
ul li a{
    color:white;
    letter-spacing: 1.5px;
    font-size: 18px;
    /* margin:5px 0px; */
    display:inline-block!important;
    /* border-bottom:white 2px solid; */
}
