


<section>
  <ul>
    <li><div *ngIf="route=='/chatpage'; then thenBlock"></div>
      
    </li>
      <ng-template #thenBlock><a  style="font-size:25px;margin: 3% 5%;
        color: #3e5f90de!important;" href="" routerLink="convo"> < </a></ng-template>
      
  </ul>
  <router-outlet></router-outlet>
  <!-- <app-chat-page ></app-chat-page> -->
</section>