<!doctype html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <title>MyBubble</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <app-root></app-root>

  <!-- <script src="{{.}}"></script>
  <script>
    System.import('system-confij.js').then(
      function(){
        System.import('main');
      }
    ).catch(console.error.bind(console));
  </script> -->
  
</body>
</html>
