body, html{
    margin:0;
    padding:0;
}
.container{
    max-width:500!important;
    margin:auto!;
    font-family: sans-serif;
    letter-spacing:0.5px;
    height:100vh;
    background-color:white;
}
img{
    max-width:100%;
    border-radius: 50%;
}
.msg-header{
    border:1px solid #ccc;
    width:100%;
    height:10% !important;
    border-bottom: none;
    display:inline-block;
    background-color: #3e1755;
    position:fixed;
    left:0;
    
}
.header-img{
    border-radius: 50%;
    width:40px;
    margin-left:5%;
    margin-top:3%;
    float:left;
    margin-bottom:15px;
}
.active{
    width:120px;
    float:left;
    margin-top:3%;

}
.active h4{
    font-size:20px;
    margin-left:20px;
    color:#fff;
}
.active h6{
    font-size:10px;
    margin-left:20px;
    line-height:2px;
    color:#fff;
}
.chat-page{
    padding-top: 50px;
}
.msg-inbox{
    border:10x solid#ccc;
    overflow: hidden;
    padding-bottom:30px;
}
.chats{
    padding: 30px 10px 0 10px;
}
.msg-page{
    height:516px;
    overflow-y: auto;
    
}
.received-msg{
    display:inline-block;
    padding: 0 0 0 10px;
    vertical-align:top;
    width:92%;

}
.received-msg-inbox{
    width:57%;
}
.received-msg-inbox p{
    background: #7e2fac none repeat scroll 0 0;
    border-radius:15px  15px 15px 3px;
    color:white;
    font-size:14px;
    margin:0;
    padding:5px 10px 5px 12px;
    width:100%;
}
.outgoing-chats{
    overflow: hidden;
    margin: 26px 10px;

}
.outgoing-chats-msg p{
    background: #3e1755 none repeat scroll 0 0;
    color:#fff;
    border-radius:15px 15px 3px 15px;
    font-size:14px;
    margin:0;
    padding:5px 10px 5px 12px;
    width:100%;
}
.outgoing-chats-msg{
    float:left;
    width:46%;
    margin-left:54%;

}
.msg-bottom{
    position: fixed;
    height: 60px;
    background-color: #3e1755;
    bottom: 0;
    width: 100%;
    left: 0;
}
.input-group{
    float:right;
    margin:3%;
    margin-right:20px;
    outline:none!important;
    border-radius:20px;
    width:89% !important;
    background-color: #fff;
}

.form-control{
    border:none !important;
    border-radius: 20px!important;

}
.input-group-text{
    background:transparent!important;
    border:none!important;
}
.input-group .fa{
    color:#3e1755;
    float:right;

}
.form-control:focus{
    border-color:none!important;
    box-shadow:none!important;
    border-radius:20px;
}
.empty{
    width:100%;
    margin:13%;
}